
<div style="border: 6px dotted darkblue; padding: 10px; text-align: center; vertical-align: middle;">  
  <h3>Hackathon Team Deliverables</h3>
  <p>
    <strong style="color: darkorange;">Due Friday August 19th during Final Presentations</strong><br>
    Please submit your team Github repository link to <a href="mailto:jpowell@tacc.utexas.edu?subject=[ISGEO-22 Question]">jpowell@tacc.utexas.edu</a>
  <dl>
    <dt>&ensp;Create a team Github.com repository with:</dt>
      <dd>&emsp;- PDF of your Presentation</dd>
      <dd>&emsp;- README.md file with project description</dd>
      <dd>&emsp;- Any generated source code</dd>
  </dl>
  </p>
  </div>
  
