
  

<div>
  <br>
    
    <ul>
      {% for res in site.data.sessions.resources %}
      <li>
      <strong><a href="{{ res.url }}" target="_blank">{{ res.name }}</a> </strong>
      <br>
      {% if res.description %}
      {{ res.description }}
      {% endif %}
      
    </li>
    {% endfor %}
  </ul>
</div>



<div>
  <h1>Documents and Datasets</h1>
  <br>
  <ul>
    {% for doc in site.data.sessions.docs %}
    <li>
      
      {% if doc.filepath %}
        {% if doc.external == "false" %}
        <strong><a href="https://github.com/IS-GEO/ISGEO-22/blob/gh-pages/{{ doc.filepath }}" target="_blank">{{ doc.name }} [{{ doc.filetype}}]</a></strong> <br>
        {% else %}
        <strong><a href="{{ doc.filepath }}" target="_blank">{{ doc.name }} [{{ doc.filetype}}]</a></strong> <br>
        {% endif %}
      {% elsif doc.url %}
        {% if doc.external == "false" %}
        <strong><a href="https://github.com/IS-GEO/ISGEO-22/blob/gh-pages/{{ doc.url }}" target="_blank">{{ doc.name }} [{{ doc.filetype}}]</a></strong> <br>
        {% else %}
        <strong><a href="{{ doc.url }}" target="_blank">{{ doc.name }} [{{ doc.filetype}}]</a></strong> <br>
        {% endif %}
      {% endif %}
      {% if doc.description %}
      {{ doc.description }} <br>
      {% endif %}
      {% if doc.day %}
      Session: {{ doc.day }} 
      {% endif %}
      {% if doc.session %}
      &nbsp; {{ doc.session }}
      {% endif %}
      {% if doc.presenter %}
      &nbsp;  {{ doc.presenter }} 
      {% endif %}

    </li>
    {% endfor %}
    </ul>
   
</div>

<div>
  <h1>Participating Research Groups and Organizations</h1>
  <br>

    <table>
      {% for group in site.data.sessions.researchgroups %}
      <tr>
        {% if group.logo %}
        <td> <strong><a href="{{ group.url }}" target="_blank">{{ group.name }}</a></strong> <br>
          {% if group.description %}
          {{ group.description }}
          {% endif %}
         
        </td>
        <td style="width: 210px; background-color: #e8e4cf; text-align: center; vertical-align: top;"><a href="{{ group.url }}" target="_blank"><img src="{{group.logo}}"  alt="{{ group.name }}" width="200"></a></td>
        
        {% else %}
        
        <td> <strong><a href="{{ group.url }}" target="_blank">{{ group.name }}</a></strong> <br>
          {% if group.description %}
          {{ group.description }}
          {% endif %}
          
        </td>
        <td style="background-color: #e8e4cf;"></td>
        {% endif %}
      </tr>
      {% endfor %}
            
    </table>


</div>

