<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-r618{background-color:#ffffc7;font-size:14px;text-align:left;vertical-align:top}
.tg .tg-x5q1{font-size:16px;text-align:left;vertical-align:top}
.tg .tg-vmxo{font-size:16px;text-align:right;vertical-align:top}
.tg .tg-fvov{background-color:#34cdf9;text-align:center;vertical-align:top}
.tg .tg-adx7{background-color:#ffcc67;text-align:center;vertical-align:top}
.tg .tg-uf2l{background-color:#dae8fc;font-size:14px;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-x5q1"></th>
    <th class="tg-fvov"><span style="font-weight:700;font-style:normal">Morning</span><br><span style="font-weight:700">Sessions</span><br><br><span style="font-weight:700;font-style:normal">10am-12pm CT</span></th>
    <th class="tg-adx7"><span style="font-weight:700;font-style:normal">Afternoon</span><br><span style="font-weight:700">Sessions</span><br><br><span style="font-weight:700;font-style:normal">1pm-3pm CT</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-vmxo"><span style="font-weight:700;font-style:normal">Monday </span><br><span style="font-weight:700;font-style:normal">(8/15)</span><br><br><span style="font-weight:700;font-style:normal">[Pathways to Integration]</span></td>
    <td class="tg-uf2l"><span style="font-weight:400;font-style:normal">* Welcome (Presentation)</span><br><span style="font-weight:400;font-style:normal">* Model-Based Reasoning (Presentation)</span><br><span style="font-weight:400;font-style:normal">* Team Creation (Hackathon)</span><br></td>
    <td class="tg-r618"><span style="font-weight:400;font-style:normal">* Interdisciplinary Session (Tutorial)</span><br><span style="font-weight:400;font-style:normal">    - Concept Maps</span><br>    - Domain Vocabulary<br>    - How to Explain Research<br></td>
  </tr>
  <tr>
    <td class="tg-vmxo"><span style="font-weight:700;font-style:normal">Tuesday </span><br><span style="font-weight:700;font-style:normal">(8/16)</span><br><br><span style="font-weight:700;font-style:normal">[Platforms for Community /</span><br><span style="font-weight:700">Data Management Tools]</span><br></td>
    <td class="tg-uf2l"><span style="font-weight:400;font-style:normal">* </span>Best Practices for Evaluating CI and <br>  Modeling Environments (Presentation)<br><span style="font-weight:400;font-style:normal">* Integrating Evaluation and Assessment </span><br><span style="font-weight:400;font-style:normal">  from the Beginning (Presentation)</span><br><span style="font-weight:400;font-style:normal">* </span>Reminders on Model-Based Reasoning <br>&nbsp;&nbsp;(Presentation)<br><span style="font-weight:400;font-style:normal">* Project Goal Creation (Hackathon)</span></td>
    <td class="tg-r618"><span style="font-weight:400;font-style:normal">* </span>Ontosoft and Sharing Resources Tutorial<br><span style="font-weight:400;font-style:normal">* Polar-science Physics- Guided Learning</span></td>
  </tr>
  <tr>
    <td class="tg-vmxo"><span style="font-weight:700;font-style:normal">Wednesday </span><br><span style="font-weight:700;font-style:normal">(8/17)</span><br><br><span style="font-weight:700;font-style:normal">[Models &amp; Use Cases]</span></td>
    <td class="tg-uf2l"><span style="font-weight:400;font-style:normal">* Texas DamagePlain </span>(Presentation)<br><span style="font-weight:400;font-style:normal">* EPIC Panel</span><br><span style="font-weight:400;font-style:normal">* </span>Github for Project Hubs (Tutorial)<br></td>
    <td class="tg-r618"><span style="font-weight:400;font-style:normal">* </span>Team Intros / Project Goals (Hackathon)<br><span style="font-weight:400;font-style:normal">* </span>Worktime (Hackathon)<br></td>
  </tr>
  <tr>
    <td class="tg-vmxo"><span style="font-weight:bold;font-style:normal">Thursday</span><br><span style="font-weight:bold">(8/18)</span><br><br><span style="font-weight:700;font-style:normal">[Hackathon]</span></td>
    <td class="tg-uf2l"><span style="font-weight:400;font-style:normal">* </span>Worktime (Hackathon)</td>
    <td class="tg-r618"><span style="font-weight:400;font-style:normal">* </span>Worktime (Hackathon)</td>
  </tr>
  <tr>
    <td class="tg-vmxo"><span style="font-weight:bold;font-style:normal">Friday</span><br><span style="font-weight:bold">(8/19)</span><br><br><span style="font-weight:700;font-style:normal">[Hackathon]</span></td>
    <td class="tg-uf2l"><span style="font-weight:400;font-style:normal">* </span>Worktime (Hackathon)</td>
    <td class="tg-r618"><span style="font-weight:400;font-style:normal">* </span>Final Presentations (Hackathon)<br><span style="font-weight:400;font-style:normal">* </span>Reflecting on Model-Based Reasoning<br>* Closing<br></td>
  </tr>
</tbody>
</table>
