<style>
  
  
  ul {
  padding-left: 20px;
   }

  tr {
    border-top: 4px solid black;
  }
</style>

<a href="{{ site.data.sessions.sessionics[0].file }}"><img src="{{ site.url }}{{ site.baseurl}}/assets/addtocal.png" width="20px"> Add all sessions to your calendar for {{ site.data.sessions.sessionics[0].date }}</a> 

<table>
  {% for day in site.data.sessions.sessionics %}
  {% if day.day != "All" %} 
  <tr>
    <td style="width: 100px; vertical-align: top; padding-right: 10px; text-align: right;">
  
        <h6 style="color:#4c6ab3;">{{ day.day }}</h6>
        {{ day.date }} 

    </td>
    <td style="width: 90%;">
       <h5 style="color:#f68a23;">Theme: {{ day.theme }} </h5>
       <br>

        <a href="{{ day.morningsessionics }}"><img src="{{ site.url }}{{ site.baseurl}}/assets/addtocal.png" width="20px" > <strong style="background: lightgrey;">Morning Session [10am -  CT]</strong></a>
          

       
       <ul>
        {% for event in site.data.sessions.sessioninfo %}
        {% if day.day == event.sessionday and event.sessiontime == "Morning" %}
         <li style="border-top: 2px dashed lightgrey;"><strong>{{ event.sessionname}}</strong> - [{{ event.sessionlength }} - <em>{{ event.sessiontype }}</em>] </li> 
         {% if event.sessiondescription %}
         &ensp; Description: {{ event.sessiondescription }}
         <br>
         {% endif %}
         {% if event.sessionhost %}
         &ensp; Session Host: <a href="{{ site.url}}{{site.baseurl}}/speakers/#{{ event.sessionhost }}">{{ event.sessionhost }}</a>
         {% endif %}
         {% if event.sessionguests %}
         &ensp; Guests: 
         {% for guest in event.sessionguests %}
          <a href="{{ site.url}}{{site.baseurl}}/speakers/#{{ guest }}">{{ guest }}, </a>
          {% endfor %}
         {% endif %}
         
         {% endif %}
         {% endfor %}
       </ul>
   
        <h6 style="background: lightgrey;"> Break (1 hour) - [12pm - 1pm CT]</h6>
        <br> 
        <a href="{{ day.afternoonsessionics }}"><img src="{{ site.url }}{{ site.baseurl}}/assets/addtocal.png" width="20px" > <strong style="background: lightgrey;">Afternoon Session [1pm - 3pm CT]</strong></a>
    
       <ul>
        {% for event in site.data.sessions.sessioninfo %}
        {% if day.day == event.sessionday and event.sessiontime == "Afternoon" %}
         <li><strong>{{ event.sessionname}}</strong> - [{{ event.sessionlength }} - <em>{{ event.sessiontype }}</em>] </li> 
         {% if event.sessiondescription %}
         &ensp; Description: {{ event.sessiondescription }}
         {% endif %}
         {% if event.sessionhost %}
         &ensp; Session Host: <a href="{{ site.url}}{{site.baseurl}}/speakers/#{{ event.sessionhost }}">{{ event.sessionhost }}</a>
         {% endif %}
         {% if event.sessionguests %}
         &ensp; Guests: 
         {% for guest in event.sessionguests %}
          <a href="{{ site.url}}{{site.baseurl}}/speakers/#{{ guest }}">{{ guest }}, </a>
          {% endfor %}
         {% endif %}
         
         {% endif %}
         {% endfor %}
       </ul>
       <br>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
<br>
<br>


