<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      
    </section>
    <div style="opacity: 1;">
      <img src="/assets/IS-GEO-200px.png" alt="IS-GEO Logo">
      &nbsp
      <img src="/assets/iharp-logo%20200px.jpeg" alt="iHarp Logo">
      &nbsp
      <img src="/assets/TACC-200px.png" alt="TACC Logo">
      &nbsp
      <img src="/assets/NSF-200px.png" alt="NSF Logo">
    </div>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
