
  
          {% for ins in site.data.sessions.speakerinfo %}
<div style="border-bottom: 1px solid black;" id="{{ ins.speakername }}">
  <br> 
  {% if ins.speakerpicture %}
  <img src="{{ site.url }}{{ site.baseurl}}{{ ins.speakerpicture }}" class="image--cover">
  {% else %}
  <img src="{{ site.url }}{{ site.baseurl}}/assets/speakers/zoom-avatar.png" class="image--cover">
  {% endif %}
              {% if ins.speakerurl %}
              <h3><a href="{{ ins.speakerurl }}">{{ins.speakername}}</a></h3>
              {% else %}
              <h3>{{ins.speakername}}</h3>
              {% endif %}
              {% if ins.speakerrole %}
              <em> {{ ins.speakerrole }} </em>
              {% endif %}
              {% if ins.speakeraffiliation %}
              <strong><p>{{ ins.speakeraffiliation }} </p></strong>
              {% endif %}
              <br>
              {% if ins.speakerbio %}
              <p>{{ ins.speakerbio }} </p>
              {% endif %}
              <div style="text-align: center;">
              {% if ins.speakeremail %}
              <a href="mailto:{{ ins.speakeremail }}">{% include icon.html id="email" title="Email" %}</a>
              {% endif %}
              {% if ins.speakerlinkedin %}
              <a href="{{ ins.speakerlinkedin }}">{% include icon.html id="linkedin" title="LinkedIn" %}</a>
              {% endif %}
              {% if ins.speakertwitter %}
              <a href="{{ ins.speakertwitter }}">{% include icon.html id="twitter" title="Twitter" %}</a>
              {% endif %}
              {% if ins.speakergithub %}
              <a href="{{ ins.speakergithub }}">{% include icon.html id="github" title="Github" %}</a>
              {% endif %}
              {% if ins.speakerurl %}
              <a href="{{ ins.speakerurl }}">{% include icon.html id="link" title="Website" %}</a>
              {% endif %}
            </div>
            <br>
</div>
{% endfor %}