
<style>
li {
    margin-left: 30px;
  }

</style>  

{% for team in site.data.sessions.projectteams %}
<div style="border-bottom: 1px solid black; padding-left: 20px;" id="{{ teams.teamname }}">
  <br> 
  <table>
   <td style="width:40%;">
    <h2><a href="{{ site.url}}{{site.baseurl}}/teams/#{{ team.teamname }}">{{ team.teamname }}</a></h2>
    <strong>Team Lead: {{ team.teamlead }}</strong><br>
    Team Members:
    <ul>
     {% for member in  team.teammembers %}
    <li style="margin-left: 30px;"><strong>{{ member }}</strong></li>
     {% endfor %} 
   </ul>
 
    {% if team.teamgoal %}
    
    <p><em>Team Goal:</em><br>
      {% if team.revisedteamgoal %}
    <s>{{ team.teamgoal }}</s><br>
    <u>[Revised Goal]</u> {{ team.revisedteamgoal }}
    {% else %}
    {{ team.teamgoal }}
    {% endif %}
   </p>
    {% endif %}
  <em>Links:</em>
  <ul>
   {% if team.teammiro %}
   <li style="margin-left: 30px;"><a href="{{ team.teammiro }}" target="_blank">Team Miroboard</a></li>
   {% endif %}
   {% if team.teammiropdf %}
   <li style="margin-left: 30px;"><a href="{{ site.url }}{{ site.baseurl}}{{ team.teammiropdf }}" target="_blank">Miroboard Concept Map/Logic Model [PDF]</a></li>
   {% endif %}
   {% if team.pitchslide %}
   <li style="margin-left: 30px;"><a href="{{ site.url }}{{ site.baseurl}}{{ team.pitchslide }}" target="_blank">Pitch Slide [PDF]</a></li>
   {% endif %} 
   {% if team.introslide %}
   <li style="margin-left: 30px;"><a href="{{ site.url }}{{ site.baseurl}}{{ team.introslide }}" target="_blank">Team Intro Slides [PDF]</a></li>
   {% endif %}
   {% if team.goals %}
   <li style="margin-left: 30px;"><a href="{{ site.url }}{{ site.baseurl}}{{ team.goals }}" target="_blank">Goal Slides [PDF]</a></li>
   {% endif %} 
   {% if team.teamupdatepdf %}
   <li style="margin-left: 30px;"><a href="{{ site.url }}{{ site.baseurl}}{{ team.teamupdatepdf }}" target="_blank">Updated Goals [PDF]</a></li>
   {% endif %}  
   {% if team.teamgithub %}
   <li style="margin-left: 30px;"><a href="{{ team.teamgithub }}" target="_blank"><img src="{{ site.url }}{{ site.baseurl}}/assets/github_30px.png">  Team Github Repo</a></li>
   {% endif %} 
  
 </ul>
   </td>
   
   <td>
    {% if team.introslide %}
   <a href="{{ site.url }}{{ site.baseurl}}{{ team.introslide }}" target="_blank">
  <img src="{{ site.url }}{{ site.baseurl}}{{ team.introslide }}" alt="Team Intro Slide" style="border: 2px solid darkblue;">

   </a>
   {% else %}
      <h5> Comming Soon!</h5>
   
  {% endif %} 
    
  {% if team.logicmodel %}
  <a href="{{ site.url }}{{ site.baseurl}}{{ team.logicmodel }}" target="_blank">
 <img src="{{ site.url }}{{ site.baseurl}}{{ team.logicmodel }}" alt="Team Logic Model" style="border: 2px solid darkblue;">

  </a>
  {% else %}
     <h5> Comming Soon!</h5>
  
 {% endif %} 

 {% if team.teamupdatepng %}
  <a href="{{ site.url }}{{ site.baseurl}}{{ team.teamupdatepdf }}" target="_blank">
 <img src="{{ site.url }}{{ site.baseurl}}{{ team.teamupdatepng }}" alt="Updated Goals" style="border: 2px solid darkblue;">

  </a>
  {% else %}
     <h5> Comming Soon!</h5>
  
 {% endif %} 



  </td>



  </table>
  
  
</div>
{% endfor %}
